<div class="container-fluid text-center" style="margin-top: 50px;">
    <div style="margin: 30px">
        <a class="fs-4 text-decoration-none navbar-brand" style="margin: 50px">Saldo atual: R$<span data-bind="text: Saldo"></span></a>
    </div>
    <div class="card shadow p-3 mb-5 bg-body-tertiary rounded col-8 m-auto mb-4" style="border: none; padding-bottom: 30px;">
        <div>
            <a class="navbar-brand fs-4">Configurações da Conta</a>
            <hr style="color: rgb(200 200 200)" />
        </div>
        <form class="d-flex flex-row justify-content-center">
            <div class="m-auto col-6 gap-3 d-flex flex-column" style="padding-top: 15px">

                <label>Nome</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="disabled form-control" placeholder="" data-bind="value: Nome, attr: {placeholder: placeNome}" />
                </div>
                <label>Email</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="disabled form-control" placeholder="" data-bind="value: Email, attr: {placeholder: placeEmail}" />
                </div>
                <label>Alterar Senha</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="form-control" placeholder="Nova Senha" data-bind="value: Senha" />
                </div>

            </div>

            <div class="m-auto col-6 gap-3 d-flex flex-column" style="padding-top: 15px">
                <label>Limite de Gasto</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="form-control" placeholder="R$500" data-bind="value: Limite, attr: {placeholder: placeLimite}" />
                </div>
                <label>Aviso de valor mínimo em conta</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="form-control" placeholder="R$100" data-bind="value: Minimo, attr: {placeholder: placeMinimo}" />
                </div>
                <label>Salário</label>
                <div class="form-group d-flex justify-content-center gap-4">
                    <input type="text" class="form-control" placeholder="R$1000" data-bind="value: Salario, attr: {placeholder: placeSalario}" />
                </div>


            </div>
        </form>
        <div class="d-flex flex-row col-12 justify-content-around">
            <div style="margin-top: 20px">
                <button class="btn btn-success" type="submit" data-bind="click: Send.bind(Nome())">Atualizar</button>
            </div>
        </div>

    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="~/Scripts/knockout-3.5.1.js"></script>
@Scripts.Render("~/bundles/Home/Conta")
