

<div class="container-fluid text-center" style="margin-top: 50px;">
    <div style="margin: 30px">
        <a class="fs-4 text-decoration-none navbar-brand" style="margin: 50px">Saldo atual: R$<span data-bind="text: Saldo"></span></a>
    </div>
    <div>
        <a class="navbar-brand fs-4" id="Title">Últimas movimentações</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Desc</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="border:none; border-style:none;"></button>
                    </div>
                    <div class="modal-body">
                        <p id="modalDesc"></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="TabelaPai">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Número</th>
                        <th scope="col">Data</th>
                        <th scope="col">Tipo (E/S)</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Saldo</th>
                    </tr>
                </thead>
                <tbody id="Tabela">
                </tbody>
            </table>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.4.1.js"></script>
@Scripts.Render("~/bundles/Home/Index")
